<template name="promise">
  <div id="promise">
    <h1>
      {{#if released}}
        {{_ "promise released"}}
      {{else}}
        {{_ "promise hidden"}}
      {{/if}}
      <a class="create-link">
        {{_ "create link"}}
      </a>
    </h1>
    <label>
      {{_ "promise hash" }}
    </label>
    <div class="console hash selectall">
      {{hash}}
    </div>

    <label class="time">
      {{_ "promise creation time" createdAgo}}
    </label>

    {{#if released}}
      <label>
        {{_ "promise data"}}
      </label>
      <div class="console data selectall">
        {{data}}
      </div>

      <label>
        {{_ "promise randomness"}}
      </label>
      <div class="console randomness selectall">
        {{randomness}}
      </div>

      <label class="time">
        {{_ "promise release time" releasedAgo}}
      </label>

      <h3>
        {{_ "promise verify header"}}
      </h3>

      <label>
        {{_ "promise verify-label"}}
      </label>
      <div class="console verify-shell selectall">{{_ "promise verify-shell" escapedFinalDataSQ hash}}</div>

      <label>
        {{_ "promise verify-label2"}}
      </label>
      <div class="console verify-shell selectall">{{_ "promise verify-shell2" escapedFinalDataDQ hash}}</div>

      <label>
        {{{_ "promise verify-label3"}}}
      </label>
      <div class="console verify-shell selectall">{{data}};{{randomness}}</div>
    {{/if}}

    {{#if canRelease}}
      <div class="can-release">
        <button type="submit" name="submit" class="btn btn-default btn-block btn-danger release">
          {{_ "promise release"}}
        </button>

        <h3>
          {{_ "promise unreleased data header"}}
        </h3>
        <label>
          {{_ "promise data"}}
        </label>
        <div class="console data selectall">
          {{dataPrivate}}
        </div>

        <label>
          {{_ "promise randomness"}}
        </label>
        <div class="console randomness selectall">
          {{randomnessPrivate}}
        </div>

        <h3>
          {{_ "promise verify header"}}
        </h3>

        <label>
          {{_ "promise verify-label"}}
        </label>
        <div class="console verify-shell selectall">{{_ "promise verify-shell" escapedFinalDataPrivateSQ hash}}</div>

        <label>
          {{_ "promise verify-label2"}}
        </label>
        <div class="console verify-shell selectall">{{_ "promise verify-shell2" escapedFinalDataPrivateDQ hash}}</div>

        <label>
          {{{_ "promise verify-label3"}}}
        </label>
        <div class="console verify-shell selectall">{{dataPrivate}};{{randomnessPrivate}}</div>
      </div>
    {{/if}}
  </div>
</template>