.input-block {
  width: 100%;
  box-sizing: border-box;
}

#promise h1 a {
  font-size: 12px;
  cursor: pointer;
}

.console {
  box-sizing: border-box;
  color: #333;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 12px;
  position: relative;
  box-shadow: 0px 0px 0px 1px #ddd inset;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  vertical-align: top;

  color: #279286;
  cursor: text;
  font-family: "Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter",Monaco,monospace;
  line-height: 22px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

label {
  margin-top: 10px;
}

#promise {
  label.time {
    color: #ccc;
    margin-top:0;
    margin-bottom: 10px;
  }

  .can-release {
    padding-top: 15px;

    .console {
      color: #A61616;
    }

    label {
      font-weight: bold;
    }
  }
}

.verify-shell {
  color: #777 !important;
}

.btn {
  padding: 10px;
  margin-bottom: 20px;
  text-shadow: none;
  font-size: 16px;
}

.list-promises {
  .clear-public, .clear-private {
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
  }

  .private-promise {
    span {
      font-weight: normal;
      color: #279286;

      &.red {
        color: #A61616;
      }
    }

    color: black;
  }
}